<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    {% comment %} <link rel="stylesheet" href="{% static "css/recipes.css" %}">
    {% endcomment %}
  </head>
  <body>
    <main>
      <div>
        <h1>{{ list_object.name }}</h1>
        <a href="{% url "todo_list_update" list_object.id %}">edit this list</a>
        <p>
          <a href="{% url "todo_item_create" %}">Create a new item</a>
        </p>
        <div>
          <a href="{% url "todo_list_delete" list_object.id %}">Delete</a>
        </div>
        <table>
          <thead>
            <tr>Task</tr>
            <tr>Due date</tr>
          </thead>
          <tbody>
            {% for item in list_object.items.all %}
              <tr>
                <td>
                  <a href="{% url "todo_item_update" item.id %}">{{ item.task }}</a>
                </td>
                <td>{{ item.due_date }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
