<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    {% comment %} <link rel="stylesheet" href="{% static "css/recipes.css" %}">
    {% endcomment %}
  </head>
  <body>
    <main>
      <div>
        <h1>My Lists</h1>
        <nav>
          <p>
            <a href="{% url "todo_item_create" %}">Create a new item</a>
          </p>
          <a href="{% url "todo_list_create" %}">Create new list here</a>
        </nav>
        <table>
          <thead>
            <tr>Name</tr>
            <tr>Number of items</tr>
          </thead>
          <tbody>
            {% for item in todolist %}
              <tr>
                <td>
                  <a href="{% url "todo_list_detail" item.id %}">{{ item.name }}</a>
                </td>
                <td>{{ item.items.all|length }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
